# Rust
/.cargo_home
target
Cargo.lock

# Translation
*.translation

# Test data
/test/data/*
!/test/data/.gdignore
!/test/data/dnb
!/test/data/csv

!/test/data/cert
/test/data/cert/*
!/test/data/cert/gen.sh

# Misc
.vscode
.DS_Store
*~*
