# Rust
/.cargo_home
target
Cargo.lock
build

# Translation
*.translation

# Test data
/test/*
!/test/.gdignore
!/test/dnb
!/test/csv

!/test/cert
/test/cert/*
!/test/cert/gen.sh

# Misc
.vscode
.DS_Store
*~*
