# Rust
/.cargo_home
/target/*
!/target/.gdignore
Cargo.lock

# Godot
/.import
/export/*
!/export/.gdignore
*.translation

# Test data
/test/data/*
!/test/data/.gdignore
!/test/data/dnb
!/test/data/csv

# Misc
.vscode
